controllerManager:
  manager:
    args:
      - '--metrics-bind-address=:8443'
      - '--leader-elect'
      - '--health-probe-bind-address=:8081'
      - '--webhook-cert-path=/tmp/k8s-webhook-server/serving-certs'
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
    env:
      enableWebhooks: 'true'
    image:
      repository: ghcr.io/kubecloudscaler/kubecloudscaler
      tag: 1.6.2
    imagePullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
  tolerations: []
  topologySpreadConstraints: []
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: 8443
  type: ClusterIP
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ''
webhookService:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  type: ClusterIP
